.DS_Store
./node_modules
./build
./src

.eslintignore
.eslintrc.js
tsconfig.json
babel.config.js
omni.config.js
.gitignore

_config.yml
.nyc_output
.travis.yml
coverage
.nycrc
mocha.opts

yarn.lock
package-lock.json
*.log