.DS_Store
scripts
src
docs

.eslintignore
.eslintrc.js
tsconfig.json
*.config.js
*.conf.js
.gitignore

test
__test__

_config.yml
.nyc_output
.travis.yml
coverage
.nycrc
mocha.opts

yarn.lock
package-lock.json
*.log