{
  "extension": [
    ".ts",
    ".tsx"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "src/**/*.test.ts",
    "src/index.ts",
    "lib/*"
  ],
  "reporter": [
    "lcovonly"
  ],
  "all": true
}